<div class="container-fluid">
  <h2>Submit a quote</h2>
  <hr>
  <form>
    <div class="form-group">
      <label for="quote">Quote</label>
      <input type="text" class="form-control" id="quote" required>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <textarea class="form-control" rows="4" id="author" required></textarea>
    </div>
    <div class="form-group">
      <label for="submittedBy">Submitted by:</label>
      <input type="text" class="form-control" id="submittedBy" required>
    </div>
    <div class="form-group">
      <label for="submittedBy">Submitted on</label>
      <input type="date" id="submittedOn" required class="ml-2 pl-1" required>
    </div>
  </form>
</div>